<p (click)="click()">foo works!</p>
<div *ngIf="loading$ | async" class="tenor-gif-embed" data-postid="13708319" data-share-method="host" data-aspect-ratio="1" data-width="100%">
  <a href="https://tenor.com/view/loading-loading-symbol-loading-animation-gif-13708319">Loading Loading Symbol Sticker</a>from <a href="https://tenor.com/search/loading-stickers">Loading Stickers</a>
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
<p>{{other$ | async}}</p>
<p>{{counter$ | async}}</p>
